.h1laporan {
  text-align: center;
  padding: 2rem 7% 2rem;
}
.buttonn {
  border: none;
  font-size: 16px;
  color: white;
  padding: 8px 16px;
  background-color: orange;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  text-decoration: none;
}
.buttonn:hover {
  background-color: orangered;
  transition: 1.1s;
}
.h6 {
  align-items: right;
}

@media print {
  .col-auto,
  .buttonn,
  .h6,
  .id_data {
    display: none;
  }
}

